p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.container {
  max-width: 1220px;
}

.port {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 0 30px;
}

html {
  font-size: 15px;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  background-size: cover;
  background-attachment: fixed;
}

img {
  max-width: 100%;
}

button.btn {
  padding: 0.8em 1.5em;
  margin: 6px;
  font-weight: 500;
  text-align: center;
  border-radius: 50px;
  transition: all 300ms ease;
  color: #fff;
  font-size: 0.9rem;
  box-shadow: 0 0 0 3em #b61984 inset;
  border: solid 0.5px #b61984;
}
button.btn:hover {
  box-shadow: 0 0 0 1px rgb(255, 255, 255) inset;
  color: #b61984;
}

header {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #181818;
  font-weight: 600;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  transition: 300ms ease all;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo img {
  height: 80px;
}
header nav .menu {
  display: flex;
}
header nav .menu ul {
  display: flex;
}
header nav .menu ul li {
  display: block;
  padding-right: 50px;
  padding-top: 20px;
}
header nav .menu ul li a {
  position: relative;
  color: #181818;
  transition: all 100ms linear;
}
header nav .menu ul li a.active::after {
  content: " ";
  top: 43px;
  display: block;
  position: absolute;
  background-color: #b61984;
  z-index: 5;
  bottom: -4px;
  margin-left: -4px;
  left: 50%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
header nav .menu ul li a:hover {
  color: #b61984;
  text-decoration: none;
}
header nav .menu ul li a:-webkit-any-link:focus-visible {
  outline: none;
}
header nav .menu .button__header {
  height: 80px;
}
header nav .menu .button__header .social {
  margin-left: 0.75em;
  font-size: 1.15em;
}

header.nothing {
  transform: translateY(-100%);
}

header.shrink {
  background-color: rgb(255, 255, 255);
}
header.shrink .logo img {
  display: none;
}
header.shrink .menu ul {
  margin-bottom: 10px;
}
header.shrink .menu ul li a.active::after {
  top: 29px;
}
header.shrink .menu .button__header {
  height: 40px;
}
header.shrink .menu .button__header button.btn {
  padding: 0.5em 1.5em;
}

.page__wrap {
  transform: translateX(0);
  transition: 500ms ease all;
}

.about {
  padding-top: 4em;
  padding-bottom: 4em;
  position: relative;
}
.about .about__content {
  position: relative;
  z-index: 30;
}
.about .about__content .about__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about .about__content .about__header .about__text h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5em;
  color: #b61984;
  font-weight: 600;
}
.about .about__content .about__header .about__text span {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2;
}
.about .about__content .about__header .about__image img {
  display: block;
  margin: 0;
  line-height: 0;
  max-width: 100%;
  height: auto;
}
.about .about__top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.about .about__top img {
  width: 100%;
  height: auto;
  display: block;
}
.about .about__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.about .about__bottom img {
  width: 100%;
  height: auto;
  display: block;
}

.team {
  padding-top: 2em;
  background-color: #dcd1f3;
}
.team .team__content {
  z-index: 3;
  position: relative;
}
.team .team__content .team__item {
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  transition: all 300ms ease-in-out;
}
.team .team__content .team__item:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.team .team__content .team__item .team__img {
  overflow: hidden;
}
.team .team__content .team__item .team__img img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
}
.team .team__content .team__item .team__img img:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}
.team .team__content .team__item .team__text .team__header {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.team .team__content .team__item .team__text .team__header span {
  font-size: 0.75rem;
  margin-bottom: 0.7em;
  font-weight: 600;
  color: #b61984;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.team .team__content .team__item .team__text .team__header h4 {
  font-size: 1.55rem;
  font-weight: 700;
}
.team .team__content .team__item .team__text p {
  margin-bottom: 2.1875em;
}
.team .team__background {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.team .team__background img {
  width: 100%;
  height: auto;
  display: block;
}

.course__form {
  padding-top: 4em;
}
.course__form .form__content {
  margin-top: 4em;
  background-color: rgb(255, 255, 255);
  width: 95%;
}
.course__form .form__content .form__item--left {
  z-index: 2;
  padding-left: 40px;
  padding-right: 40px;
}
.course__form .form__content .form__item--left img {
  display: block;
  margin: 0;
  line-height: 0;
  max-width: 100%;
  height: auto;
}
.course__form .form__content .form__item--right {
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
}
.course__form .form__content .form__item--right .form__wrap {
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.course__form .form__content .form__item--right .form__wrap .form__header {
  margin-top: 40px;
  margin-bottom: 50px;
}
.course__form .form__content .form__item--right .form__wrap .form__header h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}
.course__form .form__content .form__item--right .form__wrap .form__information {
  padding-bottom: 1em;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__name, .course__form .form__content .form__item--right .form__wrap .form__information .form__email {
  position: relative;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__name span, .course__form .form__content .form__item--right .form__wrap .form__information .form__email span {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1;
  color: #b61984;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__name input, .course__form .form__content .form__item--right .form__wrap .form__information .form__email input {
  padding: 1em 1em 1em 3.5em !important;
  font-size: 0.8em !important;
  height: 3.7em;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__name input.form-control:focus, .course__form .form__content .form__item--right .form__wrap .form__information .form__email input.form-control:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__courses {
  padding-bottom: 1em;
  position: relative;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__courses .form__icon {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1;
  color: #b61984;
  opacity: 1;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__courses .trigger {
  font-size: 0.8em;
  opacity: 0.8;
  padding: 0 0 0 3em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  height: 3.5em;
  transition: all 500ms ease;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__courses .trigger p {
  padding-top: 8px;
  padding-left: 5px;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__courses .trigger::before {
  font-family: FontAwesome;
  content: "\f107";
  color: #b61984;
  font-size: 0.9em;
  padding-right: 1.5em;
  font-weight: 900;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0.5em;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__courses .options {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  list-style: none;
  max-height: 320px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background-color: rgb(255, 255, 255);
  color: #181818;
  padding: 0;
  margin: 0;
  z-index: 20;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__courses .options li {
  font-size: 0.8em;
  padding-left: 3em;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__courses .options li:hover {
  color: #b61984;
  cursor: pointer;
}
.course__form .form__content .form__item--right .form__wrap .form__information .angle .trigger {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.course__form .form__content .form__item--right .form__wrap .form__information .angle .trigger::before {
  content: "\f106" !important;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__message {
  padding-bottom: 1em;
  position: relative;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__message span {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1;
  color: #b61984;
  opacity: 1;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__message textarea {
  width: 100%;
  padding: 1em 1em 1em 3.5em !important;
  height: 90px;
  line-height: 1.5;
  font-size: 0.8em !important;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 500ms ease;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__message textarea:focus-visible {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__button {
  max-width: 150px;
  padding-top: 2em;
  padding-bottom: 2.5em;
}
.course__form .form__content .form__item--right .form__wrap .form__information .form__button button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  height: 4em;
  width: 100%;
}
.course__form .form__background {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}
.course__form .form__background img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -1px;
  padding-top: 10em;
  padding-bottom: 10em;
  color: #fff;
}
footer h3 {
  font-size: 1.55rem;
  font-weight: 700;
  margin-bottom: 1.5em;
}
footer .footer__content {
  margin-bottom: 80px;
}
footer .footer__content .footer__item {
  padding-left: 40px;
  padding-right: 40px;
}
footer .footer__content .footer__item .footer__contact--item {
  margin-bottom: 0.5em;
}
footer .footer__content .footer__item .footer__contact--item span {
  width: 20px;
  text-align: center;
}
footer .footer__content .footer__item .footer__contact--item span i {
  font-size: 1rem;
}
footer .footer__content .footer__item .footer__contact--item p {
  font-size: 0.9em;
}
footer .footer__content .footer__item .footer__contact--social {
  margin-top: 1em;
}
footer .footer__content .footer__item .footer__contact--social .social {
  padding-right: 1em;
}
footer .footer__content .footer__item .footer__link ul, footer .footer__content .footer__item .footer__about ul {
  margin: 0;
  padding: 0;
}
footer .footer__content .footer__item .footer__link ul li, footer .footer__content .footer__item .footer__about ul li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1;
  padding: 0.8em 0;
}
footer .footer__content .footer__item .footer__link ul li a, footer .footer__content .footer__item .footer__about ul li a {
  color: inherit;
  font-size: 0.9em;
  transition: all 200ms ease;
}
footer .footer__content .footer__item .footer__link ul li a:hover, footer .footer__content .footer__item .footer__about ul li a:hover {
  text-decoration: none;
  opacity: 0.8;
}
footer .footer__content .footer__item .footer__newsletter h3 {
  margin-bottom: 45px;
}
footer .footer__content .footer__item .footer__newsletter .footer__input {
  padding-bottom: 0.5em;
}
footer .footer__content .footer__item .footer__newsletter .footer__input input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  font: inherit;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  padding: 1em;
  color: #fff;
}
footer .footer__content .footer__item .footer__newsletter .footer__input input::-moz-placeholder {
  color: rgb(255, 255, 255);
}
footer .footer__content .footer__item .footer__newsletter .footer__input input:-ms-input-placeholder {
  color: rgb(255, 255, 255);
}
footer .footer__content .footer__item .footer__newsletter .footer__input input::placeholder {
  color: rgb(255, 255, 255);
}
footer .footer__content .footer__item .footer__newsletter .footer__button button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  height: 4em;
  margin: 0;
  width: 100%;
  border: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  box-shadow: 0 0 0 3em rgb(255, 255, 255) inset;
  color: #b61984;
  border: 0.5px rgb(255, 255, 255) solid;
}
footer .footer__content .footer__item .footer__newsletter .footer__button button:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
  color: rgb(255, 255, 255);
}

@media (max-width: 1199.98px) {
  .vertical__header {
    transform: translateX(0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex !important;
    align-items: center;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
  }
  .vertical__header .button__responsive {
    display: block !important;
    cursor: pointer;
  }
  .vertical__header .button__responsive .line {
    width: 25px;
    height: 2px;
    background-color: #b61984;
    margin: 6px 0;
  }
  .vertical__header .vertical__logo {
    margin-left: 1em;
  }
  .vertical__header .vertical__logo img {
    height: 48px;
  }
  header.main__header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: 500ms ease all;
  }
  header.main__header .main__logo {
    padding-bottom: 2em;
  }
  header.main__header nav ul {
    list-style: none;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  header.main__header nav ul li {
    padding: 0;
    position: relative;
  }
  header.main__header nav ul li a {
    display: block;
    position: relative;
    line-height: 1.1;
    padding: 1em 2em;
    border: none;
    font-weight: 400;
    color: #181818;
  }
  header.main__header nav ul li a:hover {
    color: #b61984;
    text-decoration: none;
  }
  header.main__header .button__header .social {
    margin-left: 1em;
  }
  header.top__header {
    display: none;
  }
  .vertical__header.on__header {
    transform: translateX(320px);
  }
  .vertical__header.on__header .vertical__logo img {
    opacity: 0;
  }
  header.main__header.on__header {
    transform: translateX(0);
  }
  .page__wrap.on__header {
    transform: translateX(320px);
  }
  .about .about__content .about__header .about__text span {
    font-size: 3.15rem;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 950px;
  }
  .about .about__content {
    margin-top: 4em;
  }
  .about .about__content .about__header .about__text h2 {
    font-size: 1rem;
  }
  .about .about__content .about__image {
    margin-top: 4em;
  }
}/*# sourceMappingURL=index.css.map */