@mixin responsive($breakPoint){
    @if $breakPoint == xl{
        @media screen and (max-width: $xl){
            @content;
        }
    }@else if $breakPoint == lg{
        @media screen and (max-width: $lg){
            @content;
        }
    }
    @else if $breakPoint == md{
        @media screen and (max-width: $md){
            @content;
        }
    }
}