@import "./variable";
@import "./mixin";

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.container {
  max-width: 1220px;
}

.port {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 0 30px;
}

html {
  font-size: 15px;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  background-size: cover;
  background-attachment: fixed;
}

img{
  max-width: 100%;
}

button.btn {
  padding: 0.8em 1.5em;
  margin: 6px;
  font-weight: 500;
  text-align: center;
  border-radius: 50px;
  transition: all 300ms ease;
  color: $color-font-white;
  font-size: 0.9rem;
  box-shadow: 0 0 0 3em $color-primary inset;
  border: solid 0.5px $color-primary;
  &:hover {
    box-shadow: 0 0 0 1px $color-background-white inset;
    color: $color-primary;
  }
}

header {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: $color-font-dark;
  font-weight: 600;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  transition: 300ms ease all;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        height: 80px;
      }
    }
    .menu {
      display: flex;
      ul {
        display: flex;
        li {
          display: block;
          padding-right: 50px;
          padding-top: 20px;
          a {
            position: relative;
            color: $color-font-dark;
            transition: all 100ms linear;
          }
          a.active::after {
            content: " ";
            top: 43px;
            display: block;
            position: absolute;
            background-color: $color-primary;
            z-index: 5;
            bottom: -4px;
            margin-left: -4px;
            left: 50%;
            height: 8px;
            width: 8px;
            border-radius: 50%;
          }
          a:hover {
            color: $color-primary;
            text-decoration: none;
          }
          a:-webkit-any-link:focus-visible {
            outline: none;
          }
        }
      }
      .button__header {
        height: 80px;
        .social {
          margin-left: 0.75em;
          font-size: 1.15em;
        }
      }
    }
  }
}

// Shrink Start
// Before Shrink
header.nothing {
  transform: translateY(-100%);
}
header.shrink {
  background-color: $color-background-white;
  .logo {
    img {
      display: none;
    }
  }
  .menu {
    ul {
      margin-bottom: 10px;
      li {
        a.active::after {
          top: 29px;
        }
      }
    }
    .button__header {
      height: 40px;
      button.btn {
        padding: 0.5em 1.5em;
      }
    }
  }
}
// Shrink End
// End Header
.page__wrap {
  transform: translateX(0);
  transition: 500ms ease all;
}

.about {
  padding-top: 4em;
  padding-bottom: 4em;
  position: relative;
  .about__content {
    position: relative;
    z-index: 30;
    .about__header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .about__text {
        h2 {
          font-size: 1.1rem;
          margin-bottom: 0.5em;
          color: $color-primary;
          font-weight: 600;
        }
        span {
          font-family: "Montserrat", Arial, Helvetica, sans-serif;
          font-size: 3.8rem;
          font-weight: 700;
          line-height: 1.2;
        }
      }
      .about__image img {
        display: block;
        margin: 0;
        line-height: 0;
        max-width: 100%;
        height: auto;
      }
    }
  }
  .about__top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .about__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

// TEAM
.team {
  padding-top: 2em;
  background-color: $color-background-purple;
  .team__content {
    z-index: 3;
    position: relative;
    .team__item {
      border-radius: 10px;
      overflow: hidden;
      z-index: 2;
      background-color: $color-background-white;
      transition: all 300ms ease-in-out;
      &:hover {
        box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
      }
      .team__img {
        overflow: hidden;
        img {
          display: block;
          max-width: 100%;
          height: auto;
          transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
          &:hover {
            transform: scale3d(1.05, 1.05, 1.05);
          }
        }
      }
      .team__text {
        .team__header {
          margin-top: 1.5em;
          margin-bottom: 1.5em;
          span {
            font-size: 0.75rem;
            margin-bottom: 0.7em;
            font-weight: 600;
            color: $color-primary;
            font-family: "Montserrat", Arial, Helvetica, sans-serif;
          }
          h4 {
            font-size: 1.55rem;
            font-weight: 700;
          }
        }
        p {
          margin-bottom: 2.1875em;
        }
      }
    }
  }
  .team__background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.course__form {
  padding-top: 4em;
  .form__content {
    margin-top: 4em;
    background-color: $color-background-white;
    width: 95%;
    .form__item--left {
      z-index: 2;
      padding-left: 40px;
      padding-right: 40px;
      img {
        display: block;
        margin: 0;
        line-height: 0;
        max-width: 100%;
        height: auto;
      }
    }
    .form__item--right {
      z-index: 2;
      padding-left: 20px;
      padding-right: 20px;
      .form__wrap {
        background-color: $color-background-white;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
        .form__header {
          margin-top: 40px;
          margin-bottom: 50px;
          h2 {
            font-size: 2.5rem;
            line-height: 1.2;
            font-weight: 700;
          }
        }
        .form__information {
          padding-bottom: 1em;
          .form__name {
            position: relative;
            span {
              position: absolute;
              top: 1em;
              left: 1em;
              line-height: 1;
              color: $color-primary;
            }
            input {
              padding: 1em 1em 1em 3.5em !important;
              font-size: 0.8em !important;
              height: 3.7em;
              border: 1px solid rgba(0, 0, 0, 0.1);
              &.form-control:focus {
                box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
                border: 1px solid rgba(0, 0, 0, 0.3);
              }
            }
          }
          .form__email {
            @extend .form__name;
          }
          .form__courses {
            padding-bottom: 1em;
            position: relative;
            .form__icon {
              position: absolute;
              top: 1em;
              left: 1em;
              line-height: 1;
              color: $color-primary;
              opacity: 1;
            }
            .trigger {
              font-size: 0.8em;
              opacity: 0.8;
              padding: 0 0 0 3em;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: 50px;
              position: relative;
              cursor: pointer;
              overflow: hidden;
              white-space: nowrap;
              height: 3.5em;
              transition: all 500ms ease;
              p {
                padding-top: 8px;
                padding-left: 5px;
              }
              &::before {
                font-family: FontAwesome;
                content: "\f107";
                color: $color-primary;
                font-size: 0.9em;
                padding-right: 1.5em;
                font-weight: 900;
                display: block;
                position: absolute;
                right: 0;
                bottom: 0.5em;
              }
            }
            .options {
              position: absolute;
              top: auto;
              left: 0;
              width: 100%;
              list-style: none;
              max-height: 320px;
              overflow: auto;
              border: 1px solid rgba(0, 0, 0, 0.07);
              background-color: $color-background-white;
              color: $color-font-dark;
              padding: 0;
              margin: 0;
              z-index: 20;
              li {
                font-size: 0.8em;
                padding-left: 3em;
                &:hover {
                  color: $color-primary;
                  cursor: pointer;
                }
              }
            }
          }
          .angle {
            .trigger {
              box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
              border: 1px solid rgba(0, 0, 0, 0.3);
              &::before {
                content: "\f106" !important;
              }
            }
          }
          .form__message {
            padding-bottom: 1em;
            position: relative;
            span {
              position: absolute;
              top: 1em;
              left: 1em;
              line-height: 1;
              color: $color-primary;
              opacity: 1;
            }
            textarea {
              width: 100%;
              padding: 1em 1em 1em 3.5em !important;
              height: 90px;
              line-height: 1.5;
              font-size: 0.8em !important;
              border-radius: 20px;
              border: 1px solid rgba(0, 0, 0, 0.1);
              transition: all 500ms ease;
              &:focus-visible {
                box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
                border: 1px solid rgba(0, 0, 0, 0.3);
                outline: none;
              }
            }
          }
          .form__button {
            max-width: 150px;
            padding-top: 2em;
            padding-bottom: 2.5em;
            button {
              font-family: "Montserrat", Arial, Helvetica, sans-serif;
              height: 4em;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .form__background {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

footer {
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -1px;
  padding-top: 10em;
  padding-bottom: 10em;
  color: $color-font-white;
  h3 {
    font-size: 1.55rem;
    font-weight: 700;
    margin-bottom: 1.5em;
  }
  .footer__content {
    margin-bottom: 80px;
    .footer__item {
      padding-left: 40px;
      padding-right: 40px;
      .footer__contact--item {
        margin-bottom: 0.5em;
        span {
          width: 20px;
          text-align: center;
          i {
            font-size: 1rem;
          }
        }
        p {
          font-size: 0.9em;
        }
      }
      .footer__contact--social {
        margin-top: 1em;
        .social {
          padding-right: 1em;
        }
      }
      .footer__link {
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            line-height: 1;
            padding: 0.8em 0;
            a {
              color: inherit;
              font-size: 0.9em;
              transition: all 200ms ease;
              &:hover {
                text-decoration: none;
                opacity: 0.8;
              }
            }
          }
        }
      }
      .footer__about {
        @extend .footer__link;
      }
      .footer__newsletter {
        h3 {
          margin-bottom: 45px;
        }
        .footer__input {
          padding-bottom: 0.5em;
          input {
            border: 1px solid rgba(255, 255, 255, 0.1);
            outline: none;
            font: inherit;
            width: 100%;
            background: transparent;
            line-height: 1;
            display: block;
            padding: 1em;
            color: $color-font-white;
            &::placeholder {
              color: $color-background-white;
            }
          }
        }
        .footer__button {
          button {
            font-family: "Montserrat", Arial, Helvetica, sans-serif;
            height: 4em;
            margin: 0;
            width: 100%;
            border: none;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2px;
            box-shadow: 0 0 0 3em $color-background-white inset;
            color: $color-primary;
            border: 0.5px $color-background-white solid;
            &:hover {
              box-shadow: 0 0 0 1px $color-primary inset;
              color: $color-background-white;
            }
          }
        }
      }
    }
  }
}

// ---------------- RESPONSIVE ------------------------

@media (max-width: 1199.98px) {
  // Start HEADER
  .vertical__header {
    transform: translateX(0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex !important;
    align-items: center;
    z-index: 1000;
    background-color: $color-background-white;
    .button__responsive {
      display: block !important;
      cursor: pointer;
      .line {
        width: 25px;
        height: 2px;
        background-color: $color-primary;
        margin: 6px 0;
      }
    }
    .vertical__logo {
      margin-left: 1em;
      img {
        height: 48px;
      }
    }
  }
  header.main__header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 100%;
    background-color: $color-background-white;
    text-align: center;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 0 5px rgb(0 0 0 / 10%);
    transition: 500ms ease all;
    .main__logo {
      padding-bottom: 2em;
    }
    nav {
      ul {
        list-style: none;
        padding-inline-start: 0;
        li {
          padding: 0;
          position: relative;
          a {
            display: block;
            position: relative;
            line-height: 1.1;
            padding: 1em 2em;
            border: none;
            font-weight: 400;
            color: $color-font-dark;
            &:hover{
              color: $color-primary;
              text-decoration: none;
            }
          }
        }
      }
    }
    .button__header{
      .social{
        margin-left: 1em;;
      }
    }
  }
  header.top__header {
    display: none;
  }
  // On Menu
  .vertical__header.on__header {
    transform: translateX(320px);
    .vertical__logo {
      img {
        opacity: 0;
      }
    }
  }
  header.main__header.on__header {
    transform: translateX(0);
  }
  .page__wrap.on__header {
    transform: translateX(320px);
  }
  // End HEADER

  // Start ABOUT
  .about{
    .about__content{
      .about__header{
        .about__text{
          span{
            font-size: 3.15rem;
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .container{
    max-width: 950px;
  }
  // Start ABOUT
  .about{
    .about__content{
      margin-top: 4em;
      .about__header{
        .about__text{
          h2{
            font-size: 1rem;
          }
        }
      }
      .about__image{
        margin-top: 4em;
      }
    }
  }
}
